@font-face {
    font-family: "Poppins";
    src: url("../assets/fonts/Poppins-Black.ttf") format("truetype");
}

body {
    background-image: url("../assets/imgs/kame.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

p {
    font-family: "Poppins";
    color: white;
    font-size:medium;
}
.cabe{
    align-items: center;
    text-align: center;
    align-content: center;
    margin-bottom: 10px;
}
h1 {
    font-family: "Poppins";
    color: rgb(254, 254, 255);
    align-items: center;
    text-align: center;
    align-content: center;
    font-size: 1.5rem;
    display:flex;
    font-family: monospace;
    white-space: nowrap;
    width: 27ch;
    animation: writting 4s steps(45) 0.5s forwards, blink 500ms infinite alternate 4s;
    overflow: hidden;
    border-right: 4px solid;
}
.ani{
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    background-color: rgba(240, 248, 255, 0);
    background: #00000000;
}
div {
    font-family: "Poppins";
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    font-family: "Poppins";
    background: radial-gradient(circle,
            rgb(48, 10, 10) 0%,
            rgba(2, 11, 23, 0.488) 80%);
    max-width: 500px;
    margin: auto;
    padding: 10px, 20px;
    border-radius: 10px;
    box-shadow: 0px, 0px, 0px, 20px rgb(0, 0, 0, 0.5);
}
#bern {
    margin: 0 auto;
    /* Tamaño de la viñeta individual */
    width: 112px;
    height: 156px;
    /* Cómo hay establecido un tamaño, centramos */
    /* Cargamos el sprite (repeat-x se puede omitir, por defecto) */
    background: url("https://cdn.rawgit.com/ManzDev/cursos-assets/gh-pages/css3/bernard-sprite.png")
      repeat-x;
    /* Aplicamos animación "walk" (0.8seg, 6 frames, repetimos) */
    animation: walk 0.8s steps(6) infinite;
    /* Posicionamos el personaje sobre el camino de madera */
    position:unset;
    bottom: 34px;
  }
  @keyframes walk {
      /* Partimos de la primera viñeta del sprite sheet */
      from { background-position: 0 }
      /* Tamaño total de ancho del sprite. 
         Es negativo para que no "camine" hacia atrás */
      to { background-position: -672px }
    }
    @keyframes writting {
        from {
            width: 0;
        }
        }
        
        @keyframes blink {
        50% {
            border-color: transparent;
        }
    }